.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

.search-bar {
  width: 80vw;
  margin: 1em;
  font-size: 1.5em;
  border-radius: 10px;
}

.movie {
  width: 400px;
  margin: 0 auto;
}

.movie-container {
  width: 200px;
  margin-left: 30%;
}

.movie-poster {
  float: left;
  width: 200px;
}

.movie-info {
  display: flex;
  flex-direction: column;
}

.movie-info > * {
  margin: 1em .5em;
}

/*
.movie-info > div > * {
  display: inline-block;
  margin: 1em;
}
*/