.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

.search-bar {
  width: 80vw;
  margin: 1em;
  font-size: 1.5em;
  border: 2px solid #000;
  border-radius: 10px;
  padding: 1em;
  margin: 1em auto;
}

.search-bar > input {
  display: inline-block;
  margin: .5em 1em;
  font-size: 1rem;
}

.search-bar > select {
  display: inline-block;
  margin: .5em 1em;
  font-size: 1rem;
}

.movie {
  width: 400px;
  margin: 0 auto;
}

.movie-container {
  width: 400px;
  margin: 0 auto;
  padding: 1em 3em 5em 3em;
  border: 3px solid #000;
  border-radius: 30px;
}

.movie-poster {
  float: left;
  width: 200px;
}

.movie-info {
  display: flex;
  flex-direction: column;
}

.movie-info > * {
  margin: 1em .5em;
}

/*
.movie-info > div > * {
  display: inline-block;
  margin: 1em;
}
*/