.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

.search-bar {
  width: 80vw;
  margin: 1em;
  font-size: 1.5em;
  border-radius: 10px;
}

.App-link {
  color: #61dafb;
}

